@charset "utf-8";

/* fonts ---------------------------------------- */
/* @import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css'); */
@font-face {
	font-family: 'Pretendard';
    font-weight: 900;
    font-display: swap;
    src: url('../fonts/Pretendard/Pretendard-Black.woff2') format('woff2'), url('../fonts/Pretendard/Pretendard-Black.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
    font-weight: 800;
    font-display: swap;
    src: url('../fonts/Pretendard/Pretendard-ExtraBold.woff2') format('woff2'), url('../fonts/Pretendard/Pretendard-ExtraBold.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/Pretendard/Pretendard-Bold.woff2') format('woff2'), url('../fonts/Pretendard/Pretendard-Bold.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/Pretendard/Pretendard-SemiBold.woff2') format('woff2'), url('../fonts/Pretendard/Pretendard-SemiBold.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/Pretendard/Pretendard-Medium.woff2') format('woff2'), url('../fonts/Pretendard/Pretendard-Medium.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Pretendard/Pretendard-Regular.woff2') format('woff2'), url('../fonts/Pretendard/Pretendard-Regular.woff') format('woff');
    unicode-range: U+0041-005A, U+0061-007A, U+AC00-D7A3, U+0030-0039;
    /* 유니코드 범위
    - U+0041-005A, U+0061-007A	// 영문 대소문자
    - U+AC00-D7A3 // 한글
    - U+0030-0039 // 숫자
    */
}
@font-face {
	font-family: 'Pretendard';
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/Pretendard/Pretendard-Light.woff2') format('woff2'), url('../fonts/Pretendard-font-weight: 300;.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
    font-weight: 200;
    font-display: swap;
    src: url('../fonts/Pretendard/Pretendard-ExtraLight.woff2') format('woff2'), url('../fonts/Pretendard-ExtraLight.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard';
    font-weight: 100;
    font-display: swap;
    src: url('../fonts/Pretendard/Pretendard-Thin.woff2') format('woff2'), url('../fonts/Pretendard-Thin.woff') format('woff');
}

/* reset ---------------------------------------- */
*{box-sizing:border-box;}
html,body{width:100%;padding:0;margin:0;font-family:'Pretendard','Roboto','Noto Sans SC','Noto Sans JP', 'Noto Sans KR', 'Apple SD Gothic Neo', sans-serif; color:#222;letter-spacing: -0.25px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote, q{quotes:none}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none}
h1,h2,h3,h4,h5{padding:0;margin:0;}
p{margin:0;padding:0;word-wrap:break-word;word-break:keep-all;}
a, a:hover, a:focus{text-decoration:none; color:#000;}
fieldset,img{border:0 none}
img{position:relative;}
input,select,textarea,button{vertical-align:middle;font-family:'Pretendard','Roboto', 'Noto Sans JP', 'Noto Sans SC', 'Noto Sans KR', 'Apple SD Gothic Neo', sans-serif;}
input{appearance:none; -webkit-appearance:none; -webkit-border-radius:0; border:0 none; font-family:inherit; font-size:inherit; line-height:inherit;}
input::-ms-clear{display:none}
input::-webkit-contacts-auto-fill-button {visibility:hidden;display:none !important;pointer-events:none;position:absolute;right:0}
input{color:#222; font-size:16px;}
button{border:0 none;border-radius:0;background-color:transparent;cursor:pointer}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
caption{position:absolute; left:-9999px; width:0.01px; height:0.01px; font-size:0.1px; line-height:0.01px; overflow:hidden;}
table{border-spacing:0;border-collapse:collapse;}
textarea{-webkit-appearance:none;-webkit-border-radius:0;width:100%;/*min-height:270px;*/-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:10px 20px;border:1px solid #ddd;outline:none;font:inherit;resize:none;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;transition:all 0.3s ease; overflow:auto;}
legend{position:absolute; left:-9999px; width:0.01px; height:0.01px; font-size:0.1px; line-height:0.01px; overflow:hidden;}

input::placeholder{font-family:'Pretendard','Roboto','Noto Sans SC','Noto Sans JP','Noto Sans KR','Apple SD Gothic Neo', sans-serif; color:#999 !important; font-weight:400 !important;}
input:-ms-input-placeholder{font-family:'Pretendard','Roboto','Noto Sans SC','Noto Sans JP','Noto Sans KR','Apple SD Gothic Neo', sans-serif; color:#999 !important; font-weight:400 !important;}/* IE */
input::-webkit-input-placeholder{font-family:'Pretendard','Roboto','Noto Sans SC','Noto Sans JP','Noto Sans KR','Apple SD Gothic Neo', sans-serif; color:#999 !important; font-weight:400 !important;}/* Chrome */
input:-mos-input-placeholder{font-family:'Pretendard','Roboto','Noto Sans SC','Noto Sans JP','Noto Sans KR','Apple SD Gothic Neo', sans-serif; color:#999 !important; font-weight:400 !important;}/* Firefox */

textarea::placeholder{font-family:'Pretendard','Roboto','Noto Sans SC','Noto Sans JP','Noto Sans KR','Apple SD Gothic Neo', sans-serif; color:#999 !important; font-weight:400 !important;}

select{-webkit-appearance:none; -moz-appearance:none; appearance:none; /*background:#fff url(../images/common/ico_search_arr.png)no-repeat right 8px center;*/ -webkit-border-radius:0;}
select::-ms-expand{display:none;/* 화살표 없애기 for IE10, 11*/}

.blind{position:absolute; left:-9999px; width:0.01px; height:0.01px; font-size:0.1px; line-height:0.01px; overflow:hidden;}

/* :root,[data-bs-theme="light"] {
    --bd-main:  #0d6efd;
    --bd-purple: #4c0bce;
    --bd-violet: #712cf9;
    --bd-accent: #ffe484;
    --bd-violet-rgb: 112.520718,44.062154,249.437846;
    --bd-accent-rgb: 255,228,132;
    --bd-pink-rgb: 214,51,132;
    --bd-teal-rgb: 32,201,151;
    --bd-violet-bg: var(--bd-violet);
    --bd-toc-color: var(--bd-violet);
    --bd-sidebar-link-bg: rgba(var(--bd-violet-rgb), .1);
    --bd-callout-link: 10,88,202;
    --bd-callout-code-color: #ab296a;
    --bd-pre-bg: var(--bs-tertiary-bg);
    --bs-link-color: #0d6efd;
    --bs-link-color-rgb: #0d6efd;
} */
:root,[data-bs-theme="light"] {
    --bd-main: #3074f0;
    --bd-main-gray: #b2c0cd;
    --pt-sky: #73cdff;
    --pt-opacitysky: #e4eefe;
    --pt-opacitysky-hover: #c6cedc;
    --pt-yellow: #fbdf53;
    --pt-lightgray: #edf1f6;
    --pt-black01: #000;
    --pt-black03: #333;
    --pt-dark-blue: #3555af;
    --pt-white: #fff;
    --pt-lightsky: #bbe4f6;
    --pt-lightblue: #afbdff;
    --pt-lightpink: #ffcff7;
    --pt-lightpurple: #e2d3fa;
    --pt-lightgreen: #cde8bf;
    --pt-lightyellow: #ffeca7;
    
    
    --bd-purple: #4c0bce;
    --bd-violet: #712cf9;
    --bd-accent: #ffe484;
    --bd-violet-rgb: 112.520718,44.062154,249.437846;
    --bd-accent-rgb: 255,228,132;
    --bd-pink-rgb: 214,51,132;
    --bd-teal-rgb: 32,201,151;
    --bd-violet-bg: var(--bd-violet);
    --bd-toc-color: var(--bd-violet);
    --bd-sidebar-link-bg: rgba(var(--bd-violet-rgb), .1);
    --bd-callout-link: 10,88,202;
    --bd-callout-code-color: #ab296a;
    --bd-pre-bg: var(--bs-tertiary-bg);
    --bs-link-color: #0d6efd;
    --bs-link-color-rgb: #0d6efd;
}