/* ====================== TABLET/MOBILE ====================== */

/* ---------------------- 타이틀01 ---------------------- */
/* 타이틀02 ---------------------------------------- */
/* 타이틀03 */



/* (참고)※ 그리드 시스템 → 영역 분할 → 기본 12 분할
-----------------------------------------------------------------------
사용할 클래스 | 『.col-sm』 | 『.col-md』 | 『.col-lg』 | 『.col-xl』| 『.col-xxl』 
-----------------------------------------------------------------------
브라우저 크기 | >=576px >=768px >=992px >=1200 >=1400
브라우저 크기 | 작은 기기 | 중간 기기 | 큰 기기
----------------------------------------------------------------------- */







/* ====================== PC ====================== */
/* ---------------------- 레이아웃 ---------------------- */
* { font-family: 'Pretendard' } 
html, body { height: 100%; } 
.wrapper { position: relative; /*min-height: 100%; */ display: flex; flex-direction: column; min-width:320px; } 
.con-section + .con-section { margin-top: 1.25rem; } 
.section { padding-top: 5rem; padding-bottom: 5rem; } 
.content_tit + .section { padding-top: 0; } 
.m-header-area .navbar-brand { font-family: "Bangers", system-ui; font-size: 36px; line-height: 16px; letter-spacing: 1px; color: var(--bs-black); } 
.m-header-area .navbar-brand em { font-family: "Bangers", system-ui; color: var(--bd-main); } 
.m-body-area > .section:last-child { /*padding-bottom: 0px; */ } 
.wrapper .container-xl > .h1 { margin-bottom: 3.25rem; } 
.m-body-area { margin-top: 2.5rem } 

/* ---------------------- 메인 ---------------------- */
/* 헤더 ---------------------------------------- */
.m-personal-box { } 
.m-personal-box .m-avator { margin-top: 6px; } 
.navbar-expand-md .navbar-nav.m-head-gnb .nav-link{position:relative;}
.navbar-expand-md .navbar-nav.m-head-gnb .nav-link:before { content: ''; display: block; position: absolute; bottom: 0; left: 50%; width: 0; height: 4px; background: var(--pt-opacitysky); transition: all .3s; } 
.navbar-expand-md .navbar-nav.m-head-gnb .nav-link:hover:before { left: 0; right: 0; width: 100%; } 
/* 폰트 */
.rubik-puddles-regular { font-family: "Rubik Puddles", system-ui; font-weight: 400; font-style: normal; } 
.warnes-regular { font-family: "Warnes", cursive; font-weight: 400; font-style: normal; } 
.rubik-spray paint-regular { font-family: "Rubik Spray Paint", system-ui; font-weight: 400; font-style: normal; } 
.neonderthaw-regular { font-family: "Neonderthaw", cursive; font-weight: 400; font-style: normal; } 
.moirai-one-regular { font-family: "Moirai One", system-ui; font-weight: 400; font-style: normal; } 
.kite-one-regular { font-family: "Kite One", sans-serif; font-weight: 400; font-style: normal; } 
.borel-regular { font-family: "Borel", cursive; font-weight: 400; font-style: normal; } 
.kranky-regular { font-family: "Kranky", serif; font-weight: 400; font-style: normal; } 
.sail-regular { font-family: "Sail", system-ui; font-weight: 400; font-style: normal; } 
.megrim-regular { font-family: "Megrim", system-ui; font-weight: 400; font-style: normal; } 
.bungee-shade-regular { font-family: "Bungee Shade", sans-serif; font-weight: 400; font-style: normal; } 
.oleo-script swash caps-regular { font-family: "Oleo Script Swash Caps", system-ui; font-weight: 400; font-style: normal; } 
.oleo-script swash caps-bold { font-family: "Oleo Script Swash Caps", system-ui; font-weight: 700; font-style: normal; } 
.italiana-regular { font-family: "Italiana", sans-serif; font-weight: 400; font-style: normal; } 
.nixie-one-regular { font-family: "Nixie One", system-ui; font-weight: 400; font-style: normal; } 
.average-regular { font-family: "Average", serif; font-weight: 400; font-style: normal; } 
.norican-regular { font-family: "Norican", cursive; font-weight: 400; font-style: normal; } 
.sigmar-one-regular { font-family: "Sigmar One", sans-serif; font-weight: 400; font-style: normal; } 
.coming-soon-regular { font-family: "Coming Soon", cursive; font-weight: 400; font-style: normal; } 
.fredericka-the great-regular { font-family: "Fredericka the Great", serif; font-weight: 400; font-style: normal; } 
.sofia-regular { font-family: "Sofia", cursive; font-weight: 400; font-style: normal; } 
.silkscreen-regular { font-family: "Silkscreen", sans-serif; font-weight: 400; font-style: normal; } 
.silkscreen-bold { font-family: "Silkscreen", sans-serif; font-weight: 700; font-style: normal; } 
.carter-one-regular { font-family: "Carter One", system-ui; font-weight: 400; font-style: normal; } 
.fugaz-one-regular { font-family: "Fugaz One", sans-serif; font-weight: 400; font-style: normal; } 
.playfair-display sc-regular { font-family: "Playfair Display SC", serif; font-weight: 400; font-style: normal; } 
.playfair-display sc-bold { font-family: "Playfair Display SC", serif; font-weight: 700; font-style: normal; } 
.playfair-display sc-black { font-family: "Playfair Display SC", serif; font-weight: 900; font-style: normal; } 
.playfair-display sc-regular-italic { font-family: "Playfair Display SC", serif; font-weight: 400; font-style: italic; } 
.playfair-display sc-bold-italic { font-family: "Playfair Display SC", serif; font-weight: 700; font-style: italic; } 
.playfair-display sc-black-italic { font-family: "Playfair Display SC", serif; font-weight: 900; font-style: italic; } 
.yeseva-one-regular { font-family: "Yeseva One", serif; font-weight: 400; font-style: normal; } 
.bangers-regular { font-family: "Bangers", system-ui; font-weight: 400; font-style: normal; } 
.pacifico-regular { font-family: "Pacifico", cursive; font-weight: 400; font-style: normal; } 

/* 알림 */
.personal-box { } 
.notifications { min-width: 20rem;; } 
.notifications .notification-item { display: flex; align-items: center; padding: 15px 10px; transition: 0.3s; } 
.notifications .notification-item i { margin: 0 20px 0 10px; font-size: 24px; } 
.notifications .notification-item h4 { font-size: 16px; font-weight: 600; margin-bottom: 5px; } 
.notifications .notification-item p { font-size: 13px; margin-bottom: 3px; color: #919191; } 
.notifications .notification-item:hover { background-color: #f6f9ff; } 
.personal-box .badge-number { position: absolute; inset: -2px -5px auto auto; font-weight: normal; font-size: 12px; padding: 3px 6px; } 
.m-ball { position: relative;margin-right: 0.25rem;} 
.m-ball .badge-number{position:absolute;top: -4px;left: 16px;border-radius: 3px;padding: 6px 6px 4px;} 
/* 푸터 ---------------------------------------- */
.footer_area { padding-top: 3rem !important; } 
/* 인풋요소 ---------------------------------------- */
/* 인풋 */
.m-input-box { } 
.m-textarea { } 
.m-file { } 
.m-picker { } 
.form-label.no-txt { min-height: 24px; min-width:1px; display:block; } 
/* 폼 */
.form-control-plaintext { padding: 0.375rem 0.75rem; background-color: transparent !important; } 
.form-control-plaintext:focus { box-shadow: none; border-color: transparent; } 
.was-validated .form-control:valid.form-control-plaintext { border:none; background-image:none; } 
.was-validated .form-control:valid.form-control-plaintext:focus { box-shadow: none; } 

/* 프로그래스바 */
.progress-bar-animated { animation: 1s linear infinite progress-bar-stripes; /*.progress-bar-striped*/
 background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent); background-size: var(--bs-progress-height) var(--bs-progress-height); } 

/* 툴팁 */
.custom-tooltip { --bs-tooltip-bg: var(--bd-violet-bg); --bs-tooltip-color: var(--bs-white); } 
.icon-link { color: var(--bs-link-color-rgb); text-decoration: underline; } 


/* 탭 */
.nav-tabs-bordered { border-bottom: 2px solid #ebeef4; } 
.nav-tabs-bordered .nav-link { margin-bottom: -2px; border: none; color: #2c384e; } 
.nav-tabs-bordered .nav-link:hover,
.nav-tabs-bordered .nav-link:focus { color: #4154f1; } 
.nav-tabs-bordered .nav-link.active { background-color: #fff; color: #4154f1; border-bottom: 2px solid #4154f1; } 

/* 버튼영역 */
.card-body .btn-box { margin-bottom:0; } 
.btn-box { overflow: hidden; margin-top: 3rem; margin-bottom: 3rem; } 
.btn-box .btn-left { float: left; } 
.btn-box .btn-center { display: flex; justify-content: center; gap:0.35rem } 
.btn-box .btn-right { float: right; } 

/* 달력 ------- */
/* 달력 기본 */
.range-datepicker { } 
.range-datepicker .date-from { } 
.range-datepicker .date-to { } 

.ui-widget-header { color: #333; } 
.ui-datepicker .ui-datepicker-header { background-color: var(--bd-main); /*border:0; */ border-radius: 15px; } 
.ui-datepicker .ui-datepicker-title { color: #fff; } 
.ui-widget-content { color: #333; } 
.ui-widget.ui-widget-content { border-radius: 15px; box-shadow: 4px 4px 4px 0px #3330001a; z-index:10 !important; } 
.ui-datepicker .ui-datepicker-prev span { position: relative; } 
.ui-datepicker .ui-datepicker-prev span:before { content: '◀'; position: relative; color: #fff; } 
.ui-datepicker .ui-datepicker-next span { position: relative; } 
.ui-datepicker .ui-datepicker-next span:before { content: '▶'; position: relative; color: #fff; } 
.ui-datepicker .ui-icon { text-indent: 0; width: 19px; height: 19px; } 
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { margin-top: -10px; } 

.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default, 
.ui-button, 
html .ui-button.ui-state-disabled:hover, 
html .ui-button.ui-state-disabled:active { color: #666 !important; background: #f5f5f5; border:0.04rem solid #e6e6e6; } 
.ui-state-default:hover, 
.ui-widget-content .ui-state-default:hover { background-color: #f2f8fd; border:0.04rem solid #03589A; } 
.ui-state-highlight, 
.ui-widget-content .ui-state-highlight, 
.ui-widget-header .ui-state-highlight { background-color: transparent; } 
.ui-datepicker-today .ui-state-highlight { background-color: #03589A; border:0.04rem solid #006dc1; color: #fff !important; } 
.ui-state-highlight.ui-state-hover, 
.ui-widget-content .ui-state-highlight.ui-state-hover, 
.ui-widget-header .ui-state-highlight.ui-state-hover { background-color: #03589A; border:0.04rem solid #006dc1; } 
.ui-datepicker-today .ui-state-default:hover, 
.ui-widget-content .ui-datepicker-today .ui-state-default:hover { background-color: #03589A; border:0.04rem solid #006dc1; } 
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover { border: transparent; background: transparent; font-weight: normal; color: #333; } 
.ui-datepicker .ui-datepicker-prev-hover { left: 2px; top: 2px; } 
.ui-datepicker .ui-datepicker-next-hover { right: 2px; top: 2px; } 

/* 달력 대형 */
.calendar-datepicker { } 
.calendar-datepicker .ui-widget.ui-widget-content { width: 80%; float: right; } 
.calendar-datepicker .ui-state-default,.calendar-datepicker .ui-widget-content .ui-state-default { /*aspect-ratio: 1/1; */height: 7rem; } 
.calendar-datepicker .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { height: auto; } 

/* ---------------------- 서브 ---------------------- */
/* PostList ---------------------------------------- */
/* 마감 스와이퍼 */
.deadline-box .deadlineSwiper { } 
.deadline-box .deadlineSwiper .deadline-swiper-btn { } 
.deadline-box .deadlineSwiper .swiper-pagination { position: relative; margin-top: 1.25rem; } 
.swiper-btn { display: flex; justify-content: flex-end; column-gap: .25rem; margin-top: -37px; } 
.swiper-btn [class*="swiper-button"] { position: relative; height: auto; margin:0; top:0; left:0; font-size: 25px; } 
.swiper-btn .swiper-button-next { } 
.swiper-btn .swiper-button-next:after { display: none; } 
.swiper-btn .swiper-button-prev { } 
.swiper-btn .swiper-button-prev:after { display: none; } 
/* 필터 */
.filter-box .d-flex { display: flex; flex-wrap: wrap; column-gap: 0.25rem; row-gap: 0.25rem; } 
/* 스킬 */
.skill-box { } 
.skill-dropdown { } 
.skill-dropdown .dropdown-menu { width: 600px; max-width: 90vw; margin-left: -0.25rem !important; } 
.skill-check { display: flex; flex-wrap: wrap; column-gap: 0.25rem; row-gap: 0.25rem; } 
.skill-check .skill-item.form-check { position: relative; padding:0; } 
.skill-check .skill-item .form-check-input[type=checkbox] { } 
.skill-check .skill-item .form-check-input { position: absolute; top:0; left:0; width: 100%; height: 100%; margin:0;; background-color: transparent; border:transparent; right: 1.5rem; z-index: 1; } 
/* .skill-check .skill-item .form-check-input[type=checkbox]:checked { --bs-form-check-bg-image: none; } 
.skill-check .skill-item .form-check-input[type=checkbox]:checked + .form-check-label { --bs-form-check-bg-image: none; border: 1px solid var(--bd-main); outline: 2px solid var(--bd-main); } */
.skill-check .skill-item .form-check-input[type=checkbox] { --bs-form-check-bg-image: none; } 
.skill-check .skill-item.add-skill .form-check-input[type=checkbox] + .form-check-label { --bs-form-check-bg-image: none; border: 1px solid var(--bd-main); outline: 2px solid var(--bd-main); } 
.skill-check .skill-item .form-check-input:focus { box-shadow: none; } 
.skill-check .skill-item .form-check-label { display: flex; position: relative; padding: 0.35rem 0.45rem; border: 1px solid gray; align-items: center; gap: 0.25rem; border-radius: 30px; } 
.skill-check .skill-item .form-check-label:before { content:''; display: block; width: 30px; height: 30px; background: var(--bd-main-gray); border: 1px solid var(--bd-main-gray); border-radius: 50%; } 

.language-box { display: flex; column-gap: 0.25rem; } 
.language-box .badge-language { display: block; width: 20px; height:20px; border-radius: 50%; background-color: gray; } 
.language-box .badge-language:before { content:''; display: block; width: 100%; height: 100%; background: var(--bd-main-gray); border: 1px solid var(--bd-main-gray); border-radius: 50%; } 

/* 스킬아이콘 -------
ㄴ수정사항
a. 이미지명끝 css, html, java, javascript, oven 인식X -> 마지막에 01 붙임
b. 이미지명 ++,# 인식X -> plus, sharp
 */
/* ico_zeplin */ 
.skill-item.ico_zeplin .form-check-label:before
, .badge-language.ico_zeplin:before { background: url(../images/skill/ico_zeplin.png) no-repeat center; background-size: cover; } 
/* ico_Adobe_XD */ 
.skill-item.ico_Adobe_XD .form-check-label:before
, .badge-language.ico_Adobe_XD:before { background: url(../images/skill/ico_Adobe_XD.png) no-repeat center; background-size: cover; } 
/* ico_Android_Studio */ 
.skill-item.ico_Android_Studio .form-check-label:before
, .badge-language.ico_Android_Studio:before { background: url(../images/skill/ico_Android_Studio.png) no-repeat center; background-size: cover; } 
/* ico_Axure RP */ 
.skill-item.ico_Axure_RP .form-check-label:before
, .badge-language.ico_Axure_RP:before { background: url(../images/skill/ico_Axure_RP.png) no-repeat center; background-size: cover; } 
/* ico_C_sharp(C#) */ 
.skill-item.ico_C_sharp .form-check-label:before
, .badge-language.ico_C_sharp:before { background: url(../images/skill/ico_C_sharp.png) no-repeat center; background-size: cover; } 
/* ico_C_plus(C++) */ 
.skill-item.ico_C_plus .form-check-label:before
, .badge-language.ico_C_plus:before { background: url(../images/skill/ico_C_plus.png) no-repeat center; background-size: cover; } 
/* ico_css_01 */ 
.skill-item.ico_css_01 .form-check-label:before
, .badge-language.ico_css_01:before { background: url(../images/skill/ico_css_01.png) no-repeat center; background-size: cover; } 
/* ico_Eclipse */ 
.skill-item.ico_Eclipse .form-check-label:before
, .badge-language.ico_Eclipse:before { background: url(../images/skill/ico_Eclipse.png) no-repeat center; background-size: cover; } 
/* ico_Figma */ 
.skill-item.ico_Figma .form-check-label:before
, .badge-language.ico_Figma:before { background: url(../images/skill/ico_Figma.png) no-repeat center; background-size: cover; } 
/* ico_html5_01 */ 
.skill-item.ico_html5_01 .form-check-label:before
, .badge-language.ico_html5_01:before { background: url(../images/skill/ico_html5_01.png) no-repeat center; background-size: cover; } 
/* ico_IntelliJ */ 
.skill-item.ico_IntelliJ .form-check-label:before
, .badge-language.ico_IntelliJ:before { background: url(../images/skill/ico_IntelliJ.png) no-repeat center; background-size: cover; } 
/* ico_Java_01 */ 
.skill-item.ico_Java_01 .form-check-label:before
, .badge-language.ico_Java_01:before { background: url(../images/skill/ico_Java_01.png) no-repeat center; background-size: cover; } 
/* ico_Javascript_01 */ 
.skill-item.ico_Javascript_01 .form-check-label:before
, .badge-language.ico_Javascript_01:before { background: url(../images/skill/ico_Javascript_01.png) no-repeat center; background-size: cover; } 
/* ico_Jquery */ 
.skill-item.ico_Jquery .form-check-label:before
, .badge-language.ico_Jquery:before { background: url(../images/skill/ico_Jquery.png) no-repeat center; background-size: cover; } 
/* ico_jsp */ 
.skill-item.ico_jsp .form-check-label:before
, .badge-language.ico_jsp:before { background: url(../images/skill/ico_jsp.png) no-repeat center; background-size: cover; } 
/* ico_Kotlin */ 
.skill-item.ico_Kotlin .form-check-label:before
, .badge-language.ico_Kotlin:before { background: url(../images/skill/ico_Kotlin.png) no-repeat center; background-size: cover; } 
/* ico_Mybatis */ 
.skill-item.ico_Mybatis .form-check-label:before
, .badge-language.ico_Mybatis:before { background: url(../images/skill/ico_Mybatis.png) no-repeat center; background-size: cover; } 
/* ico_MySQL */ 
.skill-item.ico_MySQL .form-check-label:before
, .badge-language.ico_MySQL:before { background: url(../images/skill/ico_MySQL.png) no-repeat center; background-size: cover; } 
/* ico_Nextjs */ 
.skill-item.ico_Nextjs .form-check-label:before
, .badge-language.ico_Nextjs:before { background: url(../images/skill/ico_Nextjs.png) no-repeat center; background-size: cover; } 
/* ico_Nodejs */ 
.skill-item.ico_Nodejs .form-check-label:before
, .badge-language.ico_Nodejs:before { background: url(../images/skill/ico_Nodejs.png) no-repeat center; background-size: cover; } 
/* ico_Notepad */ 
.skill-item.ico_Notepad .form-check-label:before
, .badge-language.ico_Notepad:before { background: url(../images/skill/ico_Notepad.png) no-repeat center; background-size: cover; } 
/* ico_Oracle */ 
.skill-item.ico_Oracle .form-check-label:before
, .badge-language.ico_Oracle:before { background: url(../images/skill/ico_Oracle.png) no-repeat center; background-size: cover; } 
/* ico_oven_01 */ 
.skill-item.ico_oven_01 .form-check-label:before
, .badge-language.ico_oven_01:before { background: url(../images/skill/ico_oven_01.png) no-repeat center; background-size: cover; } 
/* ico_PHP */ 
.skill-item.ico_PHP .form-check-label:before
, .badge-language.ico_PHP:before { background: url(../images/skill/ico_PHP.png) no-repeat center; background-size: cover; } 
/* ico_powerMockup */ 
.skill-item.ico_powerMockup .form-check-label:before
, .badge-language.ico_powerMockup:before { background: url(../images/skill/ico_powerMockup.png) no-repeat center; background-size: cover; } 
/* ico_protoNow */ 
.skill-item.ico_protoNow .form-check-label:before
, .badge-language.ico_protoNow:before { background: url(../images/skill/ico_protoNow.png) no-repeat center; background-size: cover; } 
/* ico_PyCharm */ 
.skill-item.ico_PyCharm .form-check-label:before
, .badge-language.ico_PyCharm:before { background: url(../images/skill/ico_PyCharm.png) no-repeat center; background-size: cover; } 
/* ico_python */ 
.skill-item.ico_python .form-check-label:before
, .badge-language.ico_python:before { background: url(../images/skill/ico_python.png) no-repeat center; background-size: cover; } 
/* ico_R */ 
.skill-item.ico_R .form-check-label:before
, .badge-language.ico_R:before { background: url(../images/skill/ico_R.png) no-repeat center; background-size: cover; } 
/* ico_React */ 
.skill-item.ico_React .form-check-label:before
, .badge-language.ico_React:before { background: url(../images/skill/ico_React.png) no-repeat center; background-size: cover; } 
/* ico_ruby */ 
.skill-item.ico_ruby .form-check-label:before
, .badge-language.ico_ruby:before { background: url(../images/skill/ico_ruby.png) no-repeat center; background-size: cover; } 
/* ico_Rust */ 
.skill-item.ico_Rust .form-check-label:before
, .badge-language.ico_Rust:before { background: url(../images/skill/ico_Rust.png) no-repeat center; background-size: cover; } 
/* ico_scala */ 
.skill-item.ico_scala .form-check-label:before
, .badge-language.ico_scala:before { background: url(../images/skill/ico_scala.png) no-repeat center; background-size: cover; } 
/* ico_Sketch */ 
.skill-item.ico_Sketch .form-check-label:before
, .badge-language.ico_Sketch:before { background: url(../images/skill/ico_Sketch.png) no-repeat center; background-size: cover; } 
/* ico_Spring Boot */ 
.skill-item.ico_Spring_Boot .form-check-label:before
, .badge-language.ico_Spring_Boot:before { background: url(../images/skill/ico_Spring_Boot.png) no-repeat center; background-size: cover; } 
/* ico_Spring */ 
.skill-item.ico_Spring .form-check-label:before
, .badge-language.ico_Spring:before { background: url(../images/skill/ico_Spring.png) no-repeat center; background-size: cover; } 
/* ico_Svelte */ 
.skill-item.ico_Svelte .form-check-label:before
, .badge-language.ico_Svelte:before { background: url(../images/skill/ico_Svelte.png) no-repeat center; background-size: cover; } 
/* ico_TypeScript */ 
.skill-item.ico_TypeScript .form-check-label:before
, .badge-language.ico_TypeScript:before { background: url(../images/skill/ico_TypeScript.png) no-repeat center; background-size: cover; } 
/* ico_unity */ 
.skill-item.ico_unity .form-check-label:before
, .badge-language.ico_unity:before { background: url(../images/skill/ico_unity.png) no-repeat center; background-size: cover; } 
/* ico_Vim */ 
.skill-item.ico_Vim .form-check-label:before
, .badge-language.ico_Vim:before { background: url(../images/skill/ico_Vim.png) no-repeat center; background-size: cover; } 
/* ico_Visual_Studio */ 
.skill-item.ico_Visual_Studio .form-check-label:before
, .badge-language.ico_Visual_Studio:before { background: url(../images/skill/ico_Visual_Studio.png) no-repeat center; background-size: cover; } 
/* ico_Visual_Studio_Code */ 
.skill-item.ico_Visual_Studio_Code .form-check-label:before
, .badge-language.ico_Visual_Studio_Code:before { background: url(../images/skill/ico_Visual_Studio_Code.png) no-repeat center; background-size: cover; } 
/* ico_Vue */ 
.skill-item.ico_Vue .form-check-label:before
, .badge-language.ico_Vue:before { background: url(../images/skill/ico_Vue.png) no-repeat center; background-size: cover; } 
/* ico_Xcode */ 
.skill-item.ico_Xcode .form-check-label:before
, .badge-language.ico_Xcode:before { background: url(../images/skill/ico_Xcode.png) no-repeat center; background-size: cover; } 



/* 작성자 */
.writer { display: flex; align-items: center; } 
.writer .leader-level { display: block; width: 20px; height:20px; border-radius: 50%; background-color: gray; margin-right: .25rem; } 
/* 직업태그 */
.job-box { column-gap: .25rem; } 
.card-list { } 
.card-list .card { position: relative; border-top-right-radius: 10rem; transition: all 0.3s; min-height: 360px; justify-content: space-between; } 
.card-list .card .card-top { } 
.card-list .card .img-box { position:relative; overflow:hidden; background-color:#efefef; padding-top:60%; transition: all 0.3s; } 
.card-list .card.add-zzim .img-box { border-radius: 6px; border-top-right-radius: 10rem; } 
.card-list .card .thumbnail-box { border-radius: 6px; border-top-right-radius: 10rem; background: #0d6efd; min-height: 188px; color: #fff; padding: 1.25rem; display: flex; flex-direction: column; justify-content: center; align-items: flex-start; transition: all 0.3s; } 
.card-list .card .thumbnail-box .thumbnail-tit { font-size: 20px; margin-bottom: 0.25rem; margin-right: 20px; max-width: 100%; } 
.card-list .card .thumbnail-box .thumbnail-txt { background: #fff; border-radius: 6px; color: #0d6efd; padding: 2px 10px 4px; margin-right: 10px; display: inline-flex; max-width: 100%; } 
.card-list .card.add-zzim .thumbnail-box { border-top-right-radius: 6px; color: #fff; } 
.card-list .card .img-box img { display:block; position:absolute; top:50%; left:50%; width:auto; height:auto; min-width:1000%; min-height:1000%; max-width:none; max-height:none; transform:translate(-50%, -50%) scale(0.101); } 


.card-list .card .card-bottom { } 
.card-list .card.add-zzim { border-top-right-radius: 6px; } 
.card-list .card .card-tit { display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; word-wrap: break-word; word-break: keep-all; overflow: hidden; } 
.complete-list .card-list .card .card-tit { -webkit-line-clamp: 1; } 
.complete-list .card .card-bottom .card-text { margin-bottom: 0 !important; } 

/* 찜하기 */
.form-check.zzim { line-height: 16px; position: absolute; top: 0px; right:0px; display: inline-block; padding: 1.5rem; z-index:1; } 
.form-check.zzim .form-check-input { background-color: transparent; border:transparent; position: absolute; right: 1.5rem; } 
.form-check.zzim .form-check-input:checked[type=checkbox] { --bs-form-check-bg-image: none; } 
.form-check.zzim .form-check-input + .icon-box { } 
.form-check.zzim .form-check-input + .icon-box .bi { display: none; } 
.form-check.zzim .form-check-input:not(:checked) + .icon-box .bi.bi-heart { display: inline-block; } 
.form-check.zzim .form-check-input:checked + .icon-box .bi.bi-heart-fill { display: inline-block; } 
.form-check.fixed .form-check-input:not(:checked) + .icon-box .bi.bi-pin-angle { display: inline-block; } 
.form-check.fixed .form-check-input:checked + .icon-box .bi.bi-pin-angle-fill { display: inline-block; } 
.form-check.zzim .form-check-input:focus { box-shadow: none; } 
/* 페이지네이션 */
.page-box { display: flex; justify-content: center; align-items: center; margin-top: 3.25rem; } 
/* ---------------------------------------- */

/* .skill-check .skill-item.add-skill { border-color: blueviolet; } */

/* 테이블 목록 ---------------------------------------- */
.board_list { width:100%; margin:0 auto; /*border-bottom: 1px solid #DDDDDD; */ border-top: 1px solid #555555; } 
.board_list + .board_list { margin-top: 30px; } 
.board_list table { width: 100%; table-layout: fixed; } 
.board_list table thead tr th { padding: 13px; font-size: 16px; text-align:center; font-weight: 700; color: #333; } 
.board_list table tbody { font-weight: 400; } 
.board_list table tbody tr { } 
.board_list table tbody tr:hover { background: #fdfcf3; } 
.board_list table tbody tr td { text-align:center; /* height: 50px; */padding: 10px 15px; border-top: 1px solid #DDDDDD; font-size: 16px; line-height:24px; vertical-align:middle; /* white-space:nowrap; *//* word-break: break-all; */color: #777777; } 
.board_list table tbody tr td.tit { text-align:left; } 
.board_list table tbody tr td.tit a { display:inline-block; max-width:100%; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; position: relative; color: #333; font-weight: 500; vertical-align: middle; } 
.board_list table tbody tr td.category { color: #555;; } 

.board_list table tbody tr td.tit.new a { padding-right: 34px; } 
/* .board_list:not(.ty02_noti_fixed) table tbody tr.notice { background: #f3f3f3 !important; } */
.board_list table tbody tr.nodata { height: 254px; } 
.board_list table tbody tr.nodata:hover { background: transparent; } 
.board_list table tbody tr.nodata .ico_nodata { display: inline-block; width: 100%; padding-top: 35px; } 
.board_list table tbody tr.nodata .ico_nodata:before { content: ''; display:block; width: 35px; height: 35px; background: url(../images/common/ico_nodata.png); background-size: contain; margin: -35px auto 8px auto; } 

.board_list table col.num { width:8% } 
.board_list table col.category { width:12% } 
/* .board_list table col.list_media { width:14% } */
.board_list table col.tit { } 
/* .board_list table col.list_writer { width:12% } */
.board_list table col.date { width:12% } 
.board_list table col.count { width:9% } 
.board_list table col.file { width:7% } 
/* .board_list table col.list_name { width:12% } */
/* .board_list table col.list_prog { width:12% } */
/* .board_list table col.list_volume { width: 20%; } */

.ico_att_new { display: inline-block; font-size: 14px; line-height: 17px; position: absolute; top: 2px; padding: 0px 3px; right: 0; background-size: contain; background: #ed6959; border-radius: 12px; color:#fff; } 

/* 게시글 등록 ---------------------------------*/
.board_table { margin-top:12px; } 
.board_table table { width:100%; table-layout:fixed; border-top:1px solid #555; } 
.board_table table th { padding:13px 20px; background:#f3f3f3; font-size:16px; line-height:24px; color:#333; font-weight:bold; border-bottom:1px solid #ddd; text-align:left; } 
.board_table table td { padding:8px 20px; font-size:16px; line-height:24px; color:#333; border-bottom:1px solid #ddd; } 
.board_table .form_textarea { height:380px; } 
.board_table .form_textarea textarea { height:100%; } 
.board_table .form_txt { padding:0 10px; } 

/* 그룹 홈 ---------------------------------*/
.meet-group { margin-top: 0; } 
.meet-group > [class*='container'] { padding: 0; max-width: none; } 

/* 사이드 */
.toggle-sidebar-btn { position: absolute; top: 0; left: 300px; background: white; padding: 1px 6px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border: 1px solid #d9dee3; border-left-color: #fff; box-shadow:0px 0px 20px rgba(1, 41, 112, 0.1); } 
.sidebar { position: fixed; top: 60px; left: -300px; bottom: 0; width: 300px; z-index: 996; transition: all 0.3s; padding: 20px; box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1); background-color: #fff; } 
.toggle-sidebar .sidebar { left: 0; } 
.sidebar-inner { overflow-y: auto; scrollbar-width: thin; scrollbar-color: #aab7cf transparent; } 
.sidebar::-webkit-scrollbar { width: 5px; height: 8px; background-color: #fff; } 
.sidebar::-webkit-scrollbar-thumb { background-color: #aab7cf; } 

.sidebar-nav { padding: 0; margin: 0; list-style: none; } 
.sidebar-nav li { padding: 0; margin: 0; list-style: none; } 
.sidebar-nav .nav-item { margin-bottom: 5px; } 
.sidebar-nav .nav-heading { font-size: 11px; text-transform: uppercase; color: #899bbd; font-weight: 600; margin: 10px 0 5px 15px; } 
.sidebar-nav .nav-link { display: flex; align-items: center; font-size: 15px; font-weight: 600; color: #4154f1; transition: 0.3; background: #f6f9ff; padding: 10px 15px; border-radius: 4px; } 
.sidebar-nav .nav-link i { font-size: 16px; margin-right: 10px; color: #4154f1; } 
.sidebar-nav .nav-link.collapsed { color: #012970; background: #fff; } 
.sidebar-nav .nav-link.collapsed i { color: #899bbd; } 
.sidebar-nav .nav-link:hover { color: #4154f1; background: #f6f9ff; } 
.sidebar-nav .nav-link:hover i { color: #4154f1; } 
.sidebar-nav .nav-link .bi-chevron-down { margin-right: 0; transition: transform 0.2s ease-in-out; } 
.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down { transform: rotate(180deg); } 
.sidebar-nav .nav-content { padding: 5px 0 0 0; margin: 0; list-style: none; } 
.sidebar-nav .nav-content a { display: flex; align-items: center; font-size: 14px; font-weight: 600; color: #012970; transition: 0.3; padding: 10px 0 10px 40px; transition: 0.3s; } 
.sidebar-nav .nav-content a i { font-size: 6px; margin-right: 8px; line-height: 0; border-radius: 50%; } 
.sidebar-nav .nav-content a:hover
.sidebar-nav .nav-content a.active { color: #4154f1; } 
.sidebar-nav .nav-content a.active i { background-color: #4154f1; } 

/* 카드영역 */
.tbl-card + .tbl-card { margin-top: 2.5rem; } 
.tbl-card.card { background-clip: padding-box; box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12); } 
.tbl-card.card .card-link { display: inline-block; } 
.tbl-card.card .card-header + .card-body,
.tbl-card.card .card-header + .card-content > .card-body:first-of-type { padding-top: 0; } 
.tbl-card .card-action.card-fullscreen { display: block; z-index: 9999; position: fixed; width: 100% !important; height: 100% !important; top: 0; right: 0; left: 0; bottom: 0; overflow: auto; border: none; border-radius: 0; } 
.tbl-card .card-action .card-alert { position: absolute; width: 100%; z-index: 999; } 
.tbl-card .card-action .card-alert .alert { border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; } 
.tbl-card .card-action .card-header.collapsed { border-bottom: 0; } 
.tbl-card .card-action .card-header { display: flex; line-height: 1.54; } 
.tbl-card .card-action .card-header .card-action-title { flex-grow: 1; margin-right: 0.5rem; } 
.tbl-card .card-action .card-header .card-action-element { flex-shrink: 0; background-color: inherit; top: 1rem; right: 1.5rem; color: #697a8d; } 
.tbl-card .card-action .card-header .card-action-element a { color: #697a8d; } 
.tbl-card .card-action .card-header .card-action-element a .collapse-icon::after { margin-top: -0.15rem; } 
.tbl-card .card-action .blockUI .sk-fold { margin: 0 auto; } 
.tbl-card .card-action .blockUI h5, .card-action .blockUI .h5 { color: #697a8d; margin: 1rem 0 0 0; } 
.tbl-card .card-header,
.tbl-card .card-footer { border-color: #d9dee3; } 
.tbl-card.card hr { color: #d9dee3; } 
.tbl-card.card .row-bordered > [class*=" col "] .card .row-bordered > [class$=" col"], .card .row-bordered > [class*=" col "]::before, .card .row-bordered > [class*=" col "]::after,
.tbl-card.card .row-bordered > [class^="col "] .card .row-bordered > [class$=" col"],
.tbl-card.card .row-bordered > [class^="col "]::before,
.tbl-card.card .row-bordered > [class^="col "]::after,
.tbl-card.card .row-bordered > [class*=" col-"] .card .row-bordered > [class$=" col"],
.tbl-card.card .row-bordered > [class*=" col-"]::before,
.tbl-card.card .row-bordered > [class*=" col-"]::after,
.tbl-card.card .row-bordered > [class^=col-] .card .row-bordered > [class$=" col"],
.tbl-card.card .row-bordered > [class^=col-]::before,
.tbl-card.card .row-bordered > [class^=col-]::after,
.tbl-card.card .row-bordered > [class=col] .card .row-bordered > [class$=" col"],
.tbl-card.card .row-bordered > [class=col]::before,
.tbl-card.card .row-bordered > [class=col]::after { border-color: #d9dee3; } 
.tbl-card .card-header.header-elements,
.tbl-card .card-title.header-elements { display: flex; width: 100%; align-items: center; flex-wrap: wrap; } 
.tbl-card .card-header.card-header-elements { padding-top: 0.75rem; padding-bottom: 0.75rem; } 
.tbl-card .card-header .card-header-elements { padding-top: 0.25rem; padding-bottom: 0.25rem; } 
.tbl-card .card-header-elements,
.tbl-card .card-title-elements { display: flex; flex-wrap: wrap; align-items: center; } 
.tbl-card .card-header-elements + .card-header-elements,
.tbl-card .card-header-elements > * + *,
.tbl-card .card-header-elements + .card-title-elements,
.tbl-card .card-title-elements > * + *,
.tbl-card .card-title-elements + .card-header-elements,
.tbl-card .card-title-elements + .card-title-elements { margin-left: 0.25rem; } 
.tbl-card .card-header { padding: 1.5rem 1.5rem; margin-bottom: 0; background-color: transparent; border-bottom: 0 solid #d9dee3; } 
.tbl-card .card-header:first-child { border-radius: 0.5rem 0.5rem 0 0; } 
.tbl-card .card-footer { padding: 1.5rem 1.5rem; background-color: transparent; border-top: 0 solid #d9dee3; } 
.tbl-card .card-footer:last-child { border-radius: 0 0 0.5rem 0.5rem; } 
.tbl-card .table th { text-transform: uppercase; font-size: 0.75rem; letter-spacing: 1px; text-align: center; } 
.tbl-card :not(.tbl-border) .table tbody tr:last-child td { border-bottom: none; } 
.tbl-card .table-border-bottom-0 tr:last-child td,
.tbl-card .table-border-bottom-0 tr:last-child th { border-bottom-width: 0; } 

/* 테이블 dep */

/* 뱃지 */
.badge { display: inline-block; padding: 0.52em 0.593em; font-size: 0.8125em; font-weight: 500; line-height: 1; color: #fff; text-align: center; white-space: nowrap; vertical-align: baseline; border-radius: 0.25rem; } 
.badge { text-transform: uppercase; line-height: 0.75; } 
.bg-label-primary { background-color: #e7e7ff !important; color: #696cff !important; } 
.bg-label-success { background-color: #e8fadf !important; color: #71dd37 !important; } 
.bg-label-info { background-color: #d7f5fc !important; color: #03c3ec !important; } 
.bg-label-warning { background-color: #fff2d6 !important; color: #ffab00 !important; } 


.tbl-border { padding: 0 1.25rem; } 
.tbl-border th,
.tbl-border td { border:1px solid lightgray; } 

/* 로그인 ---------------------------------*/
.register { } 

/* 작성 ---------------------------------*/
.write-area { } 
.write-area .write-nav { } 
.write-area .write-nav .write-nav-con { position: sticky; top: 100px; left:0; } 
.write-area .write-content { } 

/* 마이페이지 ---------------------------------*/
/* 프로필 */
.profile-img { width: 100px; height: 100px; background: lightgray; } 
/* 내정보 & 네임카드 */
.mypage .my-user { } 
.mypage .my-info-card { margin-top: -40px; } 


/* 경력 ---------------------------------*/
.career .filter { position: absolute; right: 0px; top: 15px; } 
.career .filter .icon { color: #aab7cf; padding-right: 20px; padding-bottom: 5px; transition: 0.3s; font-size: 16px; } 
.career .filter .icon:hover,
.career .filter .icon:focus { color: #4154f1; } 
.career .filter .dropdown-header { padding: 8px 15px; } 
.career .filter .dropdown-header h6 { text-transform: uppercase; font-size: 14px; font-weight: 600; letter-spacing: 1px; color: #aab7cf; margin-bottom: 0; padding: 0; } 
.career .filter .dropdown-item { padding: 8px 15px; } 
.career .activity { font-size: 14px; } 
.career .activity .activity-item .activite-label { color: #888; position: relative; flex-shrink: 0; flex-grow: 0; min-width: 100px; } 
.career .activity .activity-item .activite-label::before { content: ""; position: absolute; right: -11px; width: 4px; top: 0; bottom: 0; background-color: #eceefe; } 
.career .activity .activity-item .activity-badge { margin-top: 3px; z-index: 1; font-size: 11px; line-height: 0; border-radius: 50%; flex-shrink: 0; border: 3px solid #fff; flex-grow: 0; } 
.career .activity .activity-item .activity-content { padding-left: 10px; padding-bottom: 20px; } 
.career .activity .activity-item:first-child .activite-label::before { top: 5px; } 
.career .activity .activity-item:last-child .activity-content { padding-bottom: 0; } 

/* 경력 ---------------------------------*/
.level .info-box { padding: 28px 30px; } 
.level .info-box i { font-size: 38px; line-height: 0; color: #4154f1; } 
.level .info-box h3 { font-size: 20px; color: #012970; font-weight: 700; margin: 20px 0 10px 0; } 
.level .info-box p { padding: 0; line-height: 24px; font-size: 14px; margin-bottom: 0; } 
.level .php-email-form .error-message { display: none; color: #fff; background: #ed3c0d; text-align: left; padding: 15px; margin-bottom: 24px; font-weight: 600; } 
.level .php-email-form .sent-message { display: none; color: #fff; background: #18d26e; text-align: center; padding: 15px; margin-bottom: 24px; font-weight: 600; } 
.level .php-email-form .loading { display: none; background: #fff; text-align: center; padding: 15px; margin-bottom: 24px; } 
.level .php-email-form .loading:before { content: ""; display: inline-block; border-radius: 50%; width: 24px; height: 24px; margin: 0 10px -6px 0; border: 3px solid #18d26e; border-top-color: #eee; animation: animate-loading 1s linear infinite; } 
.level .php-email-form input,
.level .php-email-form textarea { border-radius: 0; box-shadow: none; font-size: 14px; border-radius: 0; } 
.level .php-email-form input:focus,
.level .php-email-form textarea:focus { border-color: #4154f1; } 
.level .php-email-form input { padding: 10px 15px; } 
.level .php-email-form textarea { padding: 12px 15px; } 
.level .php-email-form button[type=submit] { background: #4154f1; border: 0; padding: 10px 30px; color: #fff; transition: 0.4s; border-radius: 4px; } 
.level .php-email-form button[type=submit]:hover { background: #5969f3; } 


@keyframes animate-loading { 
 0% { transform: rotate(0deg); } 

100% { transform: rotate(360deg); } 
 }

/* 레벨 */
.level .tooltip-txt > i { margin-left: 4px; font-size: 16px; } 
.level .info-tit { display:flex; align-items: center; } 
.level .info-tit .h5 { margin-left: 4px; margin-bottom: 0; } 
.level .info-card { padding-bottom: 10px; } 
.level .info-card h6 { font-size: 28px; color: #012970; font-weight: 700; margin: 0; padding: 0; } 
.level .card-icon { font-size: 32px; line-height: 0; width: 64px; height: 64px; flex-shrink: 0; flex-grow: 0; } 
.level .sales-card .card-icon { color: #4154f1; background: #f6f6fe; } 
.level .revenue-card .card-icon { color: #2eca6a; background: #e0f8e9; } 
.level .customers-card .card-icon { color: #ff771d; background: #ffecdf; } 
.no-gutters>.col,.no-gutters>[class*=col-] { padding-right: 0; padding-left: 0 } 
.mr-2, .mx-2 { margin-right: 0.5rem!important; } 
.col-auto { flex: 0 0 auto; width: auto; max-width: 100%; } 
.col-auto > i { font-size: 2em; } 
.text-gray-300 { color: #dddfeb!important; } 
.no-gutters { margin-right: 0; margin-left: 0; } 

.level .level-con .h5 { min-width: 5rem; } 
.level-con + .level-con { /*margin-top: 1rem; */ } 
.level .level-con .card-body { min-height: 234px; } 
.level .level-con .card-body > .no-gutters { } 
.level .level-con .card-body > .no-gutters .col { } 
.level .level-con .card-body .align-items-center { } 
.level .level-con .card-body .progress { position: absolute; width: calc(234px - 2rem); bottom: 0; right: 0; transform: rotate(-90deg) translate(110px, 84px); } 
.level .bi-icon { } 

.avatar { position: relative; /*width: 2.375rem; height: 2.375rem; */ cursor: pointer; } 
.avatar img { width: 100%; height: 100%; } 
.avatar .avatar-initial { position: absolute; top: 0; left: 0; right: 0; bottom: 0; text-transform: uppercase; display: flex; align-items: center; justify-content: center; color: #fff; background-color: #8592a3; font-weight: 700; } 
.avatar.avatar-online:after, .avatar.avatar-offline:after, .avatar.avatar-away:after, .avatar.avatar-busy:after { content: ""; position: absolute; bottom: 0; right: 3px; width: 8px; height: 8px; border-radius: 100%; box-shadow: 0 0 0 2px #fff; } 
.avatar.avatar-online:after { background-color: #71dd37; } 
.avatar.avatar-offline:after { background-color: #8592a3; } 
.avatar.avatar-away:after { background-color: #ffab00; } 
.avatar.avatar-busy:after { background-color: #ff3e1d; } 
.level .avatar { } 
.level .avatar:after { content: ''; display: block; width: 50px; height: 50px; background: gray; border-radius: 12px;; } 
.level .level-info .avatar:after { background: rgb(13, 110, 253) !important; } 
.level .level-reader .avatar:after { background: #ffab00 !important; } 
.level .level-team .avatar:after { background: rgb(25, 135, 84) !important; } 

.level .level-info .fw-semibold { color: rgb(13, 110, 253) !important; } 
.level .level-reader .fw-semibold { color: #ffab00 !important; } 
.level .level-team .fw-semibold { color: rgb(25, 135, 84) !important; } 

.level .level-info .progress-bar { background: rgb(13, 110, 253) !important; } 
.level .level-reader .progress-bar { background: #ffab00 !important; } 
.level .level-team .progress-bar { background: rgb(25, 135, 84) !important; } 


.level .avatar > i { position: absolute; top: 7px; left: 7px; font-size: 35px; line-height: 35px; } 
.level .level-con .card-body { display: flex; flex-direction: column; justify-content: space-between; } 
.level .level-con .card-body .card-title { } 
.level .level-con .card-body .level-bottom { } 

/* 완료목록팝업 ---------------------------------*/
.completeList-popup { } 
.completeList-popup.modal .modal-dialog { max-width: 1180px; } 
.completeList-popup.modal .modal-footer { border-top: 0px solid #fff; } 

@media (min-width: 1400px) { max-width: 1320px; } 
@media (min-width: 1200px) { max-width: 1140px; } 

/* 로그인 ---------------------------------*/
.list-bar>ul { display:flex; justify-content: center; gap:0.25rem; } 
.list-bar>ul>li { position:relative; display: flex; align-items: center; } 
.list-bar>ul>li + li:before { content:''; display: inline-block; width: 1px; height: 16px; background:lightgray; margin: 0 1.25rem; } 
.list-bar>ul { display:flex; justify-content: center; gap:0.25rem; } 
.login-bar { display:flex; align-items:center; justify-content:center; gap:1.25rem; margin-bottom: 1.25rem; } 
.login-bar:before,
.login-bar:after { display:block; content:''; width: 30%; height:1px; background:lightgray; } 

/* 댓글영역1 */
.read_box_area { padding: 24px 20px; border-bottom:0.04rem solid #dddddd; } 
.comment_area_wrap { margin-top:20px; } 
.comment_more { position: relative; border: 0; padding-left: 32px; height: 22px; line-height: 22px; margin-bottom: 2px; font-size: 15px; color: #333; } 
.comment_more::before { content:''; position: absolute; top: 0; left: 0; display: block; width: 24px; height: 24px; /*background-image: url(../images/ico_arrorw_bottom.png); background-repeat: no-repeat; background-size: 24px; */ } 
.comment_more .cmnt_txt.ty01 { display:inline-block; } 
.comment_more .cmnt_txt.ty02 { display:none; } 
.comment_area { display:none; background-color: #f9f9f9; padding: 8px 16px; } 
.comment_area_wrap .comment_more .cmnt_txt .bi { position:absolute; top:0; left:6px; } 
.comment_area_wrap.open .comment_more { margin-bottom:12px; } 
.comment_area_wrap.open .comment_more::before { /*background-image: url(../images/ico_arrorw_top.png); */ } 
.comment_area_wrap.open .comment_more .cmnt_txt.ty01 { display:none; } 
.comment_area_wrap.open .comment_more .cmnt_txt.ty02 { display:inline-block; } 
.comment_area_wrap.open .comment_area { display:block; } 
.comment_area_wrap.open .comment_area > li + li { border-top:1px solid #ddd; } 
.comment { padding:12px 0; } 
.comment .tbl_cont_area.ty2 .cont { margin-bottom: 12px !important; } 
.comment .tbl_box { padding: 0; position: relative; } 
.comment .tbl_box:last-child { border-bottom:0.04rem solid #dddddd; } 
.comment .tbl_box.checked { background-color: transparent; } 
.comment .tbl_box .more_area { top: 0; right: -4px; } 
.comment .info { display:flex; height: 25px; } 
.comment .info .reg_info { width: calc(100% - 200px); } 
.comment .info .fr { display:flex; align-items:center; justify-content:flex-end; width:200px; } 
/* .comment .info .fr .rcmnd_area { width: auto; margin-top: 0; justify-content: flex-end; margin-left: 16px; } */ 
.comment_area .comment_reg { margin-top:0; padding:12px 0; } 
.comment_reg { display: flex; justify-content: space-between; margin-top: 24px; } 
.comment_reg .textarea_wrap { /*width: calc(100% - 90px)*/ } 
.comment_reg .right-box .btn.btn-primary { padding: 0.35rem 0.275rem; line-height: 14px; font-size: 14px; } 
.reply { position:relative; padding-left:42px !important; border-top:1px solid #ddd; } 
.reply:before { content:''; position: absolute; top: 19px; left: 24px; display: block; width: 6px; height: 6px; border-left:0.04rem solid #999999; border-bottom:0.04rem solid #999999; } 
.reply .name { display:inline-block; padding:0 8px; background:#868d9b; color:#fff; font-size:14px; line-height:22px; font-weight:400; border-radius:2px; margin-right:4px; } 
.btn_cmnt { border: 0 !important; background-color: transparent !important; min-width: auto !important; height: auto !important; font-size: 14px !important; padding: 0 !important; } 
.comment_group .comment_reg { display:none; } 
.comment_group .btn_cmnt .ty02 { display: none; } 
.comment_group.open .comment_reg { display:flex; } 
.comment_group.open .btn_cmnt .ty02 { display: inline-block; } 
.editor_area { height:256px; border:0.04rem solid #ccc; } 

.tbl_box .cont { display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; color:#666; font-size:15px; line-height:22px; margin-bottom:12px; word-break:keep-all; } 
.tbl_box .tbl_cont_area.ty2 .cont { white-space:normal; } 
.tbl_box .tbl_cont_area.ty3 { width:100%; } 
.tbl_box .tbl_cont_area.ty3 .cont { color:#0c0000; } 
.tbl_box + .cmnt_bt_area { margin-top: 12px; } 
.cmnt_bt_area + .rgstr_area { margin-top: 12px; padding-top: 12px; border-top:0.04rem solid #dddddd; } 

/* 더보기 버튼 ----------------*/
.tbl_box .more_area { position:absolute; right:11px; top:12px; } 
.more_area { position:relative; display:inline-block; } 
.more_area .btn_more { border:0 none; border-radius:100%; width:32px; height:32px; /*background:url(../images/ico_more.png)no-repeat center; background-size:32px 32px; */ min-width: auto; } 
.more_area .btn_more:disabled,
.more_area .btn_more:disabled:hover,
.more_area .btn_more:disabled:focus { background-image:url(../images/ico_more_disabled.png); pointer-events:none; } 
.more_area .btn_more:hover,
.more_area .btn_more:focus,
.more_area.open .btn_more { background-image:url(../images/ico_more_hover.png); } 
.more_area ul { display:none; position:absolute; right:0; top:36px; background:#fff; border:1px solid #ccc; border-radius:4px; width:60px; padding:8px 0; z-index:10; box-shadow:0 0.04rem 3px 0 rgba(0, 0, 0, 0.16) } 
.more_area ul li { } 
.more_area ul li a { display:block; padding:0 11px; font-size:14px; line-height:32px; color:#333; } 
.more_area ul li a:hover,
.more_area ul li a:focus { background:#f5f5f5; color:#03589a; } 
.more_area.open ul { display:block; } 

/* 등록정보 */
.reg_info { display:flex; color:#868d9b; font-size:14px; line-height:20px; align-items:center; } 
.reg_info > li { display:flex; align-items:center; position:relative; padding-right:12px; margin-right:12px; color:#868D9B; } 
.reg_info > li::after { content:''; display:block; position:absolute; right:0; top:50%; background:#e2e2e2; width:1px; height:14px; margin-top:-7px; } 
.reg_info > li:first-child { padding-left:0; margin-left:0; } 
.reg_info > li:last-child::after { display:none; } 
.reg_info > li.no_bar { padding-right:0; margin-right:20px; } 
.reg_info > li.no_bar::after { display:none; } 

/* 댓글 영역 ---------------------------------------- */
/* .btn-change-group [class*="change0"] { display:none; } 
.btn-change-group:not(.con-change) [class*="change0"].change01 { display:inline-block; } 
.btn-change-group.con-change [class*="change0"].change02 { display:inline-block; } 
.comment-box .accordion-item { border: 0px solid #fff !important; } 
.comment-box .accordion-item .accordion-button { background: transparent !important; border: 0px solid #fff !important; border-radius: 5px; box-shadow: none; } 
.comment-box .accordion-item .accordion-body { padding:0; } 
.comment-box .accordion-item:first-of-type { border: 0px solid #fff !important; } 
.comment-box .accordion-item .accordion-body { } 
.comment-box .accordion-item .accordion-body .card { background:transparent; } 
.comment-box .accordion-item { } 
.comment-box .accordion-item { } 
.comment-box .accordion-item { } 
.comment-box .accordion-item { } 
.comment-item-box > li { } 
.comment-item-box.ripple-add > li.comment-add { display:block; } 
.comment-item-box > li + li { margin-top: 0.25rem; } 
.comment-item-box .comment-add { display:none; } */

/* color 재설정 -------*/
/* 헤더 */
.wrapper .btn-primary { --bs-btn-bg: var(--bd-main); } 
.wrapper .m-header-area { background-color: transparent !important; box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15), inset 0 -1px 0 rgba(255,255,255,0.15); } 
.wrapper .m-header-area:before { content:''; display: block; background-color: rgba(255,255,255,0.6); position:absolute; width: 100%; height:100%; backdrop-filter: blur(5px); z-index: -1; } 
.wrapper .m-right-nav:not(.show) .nav-link { color: var(--pt-black01); } 
@media (max-width: 768px){
	.wrapper .offcanvas.m-right-nav { } 
	.wrapper .offcanvas.m-right-nav .offcanvas-body { display: flex; flex-direction: column; } 
	.wrapper .offcanvas.m-right-nav .offcanvas-body .navbar-nav { order:1; } 
	.wrapper .offcanvas.m-right-nav .offcanvas-body .navbar-nav >.nav-item > .nav-link { color: var(--pt-white); } 
	.wrapper .offcanvas.m-right-nav .offcanvas-body .personal-box { order:0; } 
	.wrapper .offcanvas.m-right-nav .offcanvas-body .personal-box .m-avator { } 
	.wrapper .offcanvas.m-right-nav .offcanvas-body .personal-box .dropdown-menu-end[data-bs-popper] { left: 0; } 
 }
.wrapper .m-right-nav:not(.show) .nav-link:focus,.wrapper .nav-link:hover { color: var(--bd-main); } 
.wrapper .m-right-nav:not(.show) .nav-link:hover:before { content:''; display:block; position:absolute; bottom:0; left:0; } 

/* 버튼 */
.wrapper .btn-secondary{--bs-btn-color: var(--pt-black03);
    --bs-btn-bg: var(--pt-opacitysky);
    --bs-btn-border-color: var(--pt-opacitysky);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--pt-opacitysky-hover);
    --bs-btn-hover-border-color: var(--pt-opacitysky-hover);
    --bs-btn-focus-shadow-rgb: 130,138,145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--pt-opacitysky-hover);
    --bs-btn-active-border-color: var(--pt-opacitysky-hover);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--pt-opacitysky);
    --bs-btn-disabled-border-color: var(--pt-opacitysky)
}
.wrapper .btn.disabled,
.wrapper .btn:disabled,
.wrapper fieldset:disabled .btn{ filter: brightness(90%);}
.wrapper .btn.btn-secondary:disabled{--bs-btn-color: var(--pt-black03);}

 /* .swiper { width: 100%; height: 100%; } 
 .swiper-slide { text-align: center; font-size: 18px; background: #fff; display: flex; justify-content: center; align-items: center; } 
 .swiper-slide img { display: block; width: 100%; height: 100%; object-fit: cover; } 
 */
 
 /* 회원가입 스와이퍼 */
.join-area { width: 100%; } 
.join-area .card-body { } 
.join-area .join-swiper { padding-top: 60px; } 
.join-area .join-swiper .swiper-slide { padding: 0 4px; } 
.join-area .swiper-pagination { top:10px; left:0; height:40px; } 
.join-area .swiper-pagination-clickable .swiper-pagination-bullet { } 
.join-area .swiper-pagination-clickable .swiper-pagination-bullet-active:before { content:''; display:block; width: 150%; height: 150%; margin:0 auto 10px; border:1px solid #1b65cf; border-radius:100%; box-sizing:border-box; animation:bubble 2s ease-out infinite; position: absolute; top: -25%; left: -25%; /* transform: translate(-50%,-50%); */z-index: -1; /* transition: all 0.2s; */ } 

.join-area .swiper-pagination-clickable .swiper-pagination-bullet { position: relative; flex-shrink:1 !important; text-align:center; position: relative; height:40px; width:40px; margin: 0 20px; opacity:1; background-color: var(--pt-dark-blue); } 
.join-area .swiper-pagination-clickable .swiper-pagination-bullet-active { background-color: var(--bd-main); } 
.join-area .swiper-pagination-clickable .swiper-pagination-bullet-active ~ *:not(.swiper-slide-thumb-active) { background-color: var(--bd-main-gray); } 
.join-area .swiper-pagination-clickable .swiper-pagination-bullet span { padding: 4px; text-align:center; line-height: 20px; color: var(--pt-white); } 
.join-area .swiper-pagination-clickable .swiper-pagination-bullet::after { content:''; display:block; position:absolute; left:50%; top:20px; border-top:2px solid #1b65cf; width:100px; z-index:-1; transition:border-color .5s; } 
.join-area .swiper-pagination-clickable .swiper-pagination-bullet:last-child::after { display:none; } 
.join-area .swiper-pagination-clickable .swiper-pagination-bullet-active:after { border-top:1px dashed #25252566; } 
.join-area .swiper-pagination-clickable .swiper-pagination-bullet-active ~ *:not(.swiper-slide-thumb-active):after { border-top:1px dashed #25252566; } 
.join-area .swiper-btn { margin-top: 0; justify-content: center; } 

 /* bubble 인터렉션효과 */
 @keyframes bubble { 
 0% { background:rgb(255, 255, 255); transform:scale(0); } 
 
 30% { box-shadow:0 8px 20px rgba(63, 173, 229, 0.2); } 
 
 80% { border-color:#1b65cf; box-shadow:0 10px 30px rgba(63, 173, 229, 0.2); } 
 
 100% { border-color:rgba(55, 131, 169, 0); } 
 }
 
.row.col-12 { width: calc(100% + (var(--bs-gutter-x) * .5) * 2); } 
.career-col-box .row.col-12 { /*width: calc(100% + (var(--bs-gutter-x) * .5) * 4); */ } 
.career-col-box .row.range-datepicker { } 
.join-swiper .swiper-slide> .row:last-child > .col-12:last-child > .btn.w-100 { margin: 0.5rem 0 1.5rem; } 

/* 회원가입-스킬 */
.sikll-box { min-height: 80px; border: 1px solid var(--bs-border-color); border-radius: 0.375rem; } 
.btn-more-one { padding: 4px; } 








































/* ====================== TABLET ====================== */
@media all and (max-width : 1024px) { /* 테이블 목록 */
 .table>:not(caption)>*>* { border-bottom: 0px; } 
 .table-hover>tbody>tr:hover>* { --bs-table-color-state: transparent; --bs-table-bg-state: transparent; } 
 .table>:not(caption)>*>* { background-color:transparent; } 
 }

/* ====================== MOBILE ====================== */
@media all and (max-width : 750px) { /* 테이블 목록 ---------------------------------------- */
 .board_list { overflow-x: scroll; } 
 .board_list table { min-width: 750px; } 
 /* .board_list table { display: block; } 
.board_list table thead { display: none; } 
.board_list table tbody { display: block; } 
.board_list table tbody tr { display: block; padding: 16px 16px 16px 10px; overflow: hidden; } 
.board_list table tbody tr + tr { border-top: 1px solid #DDDDDD; } 
.board_list table tbody tr td { display: inline-block; float: left; padding: 0; border-top: none; font-size:15px; line-height:22px; } 
.board_list.news_list table tbody tr td { padding: 0; } 
.board_list table tbody tr td.num { display: none; margin-bottom:4px; } 
.board_list table tbody tr td.tit { display: block; width: 100%; } 
.board_list table tbody tr td.tit a { float: left; } 
.board_list table tbody tr td.category { font-size: 12px; line-height:22px; margin-bottom:4px; } 
.board_list table tbody tr td.date { font-size: 12px; } 
.board_list.ty02_noti_fixed table tbody tr td.date { display: none; } 
.board_list table tbody tr td.count { display: none; } 
.board_list table tbody tr td.file { display: none; } 

.board_list table tbody tr.nodata td { position: relative; width: 100%; height: 100%; display: flex; align-items: center } 
.board_list table tbody tr.nodata .ico_nodata { } */ } 


@media (min-width: 576px) { /* 회원가입 ---------------------------------------- */
 .container,.container-sm { max-width:100% } 
 }