@charset "UTF-8";

/* Home  */
.h-body-section {
	margin: 0;
}
.section {
	/* padding-bottom: 0 !important; */
}

.intro {
	position: relative;
	padding: 130px 40px 130px 40px;
	text-align: center;
	background-image: url("../../asset/images/sub/img_home.jpg");
	background-size: cover;
}
.intro::before {
    position: absolute;
    content: "";
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.intro-description_header {
	position: relative;
	color: white;
	font-size: 47px;
	font-weight: bold;
	z-index: 100;
}
.intro-description_content {
	position: relative;
	color: white;
	font-size: 17px;
	z-index: 100;
}
.btn-home {
	position: relative;
	font-size: 18px;
	margin-top: 20px;
	margin-right: 10px;
	z-index: 100;
}


/* CompleteProject.jsp */
.c-body-section {
	margin-top: 65px;
}
.col-lg-4 {
	width: 25% !important;
}

/* 카테고리 */
.mb-3 {margin-bottom: 4px;}
.category {display: flex; justify-content: space-between;}
.category-box { } 
.category-dropdown { } 
.category-dropdown .dropdown-menu { width: 600px;} 
.category-check { display: flex;flex-wrap: wrap;column-gap: 0.25rem;row-gap: 0.25rem;} 
.category-check .category-item { position: relative;padding: 0.25rem;border: 1px solid gray;border-radius: 10px;} 
.category-check .category-item .form-check-input[type=checkbox] { } 
.category-check .category-item .form-check-input { position: relative;top:0;left:0;width: 100%;height: 100%;margin:0;;background-color: transparent;border:transparent;position: absolute;right: 1.5rem;} 
.category-check .category-item .form-check-input:checked[type=checkbox] { --bs-form-check-bg-image: none;} 
.category-check .category-item .form-check-input:focus { box-shadow: none;} 
/* .category-check .category-item .add-category { border-color: blueviolet;} */
.category-check .category-item .category-input {margin-right: 6px;}

.card-list .card .thumbnail-box {min-height: 230px !important;}




/* CompleteProjectDetail.jsp */

.project-title {
    margin: 5px 0px 30px 30px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    display: block;
}
.title-hr {
    height: 1px;
    background: #000;
    width: 85px;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 30px;
}
.project-teamname { margin: 5px 0px 15px 30px; font-size: 20px;
}


.intro-head {
	padding: 20px 90px 145px 70px;
	padding: 20px 10% 0;
    width: 100%;
}

.intro-detail {
	display: flex;
	flex-wrap: wrap;
}
.intro-imgbox {
	width: 70%;
    flex-basis: 510px;
    flex-shrink: 1;
    flex-grow: 1;
}
.monitor {
	border-radius: 11px;
    box-shadow: 5px 8px 17px lightgray;
    border: 14px solid black;
}
.intro-img {
	/* border-radius: 11px; */
    /* box-shadow: 5px 8px 17px lightgray; */
    max-width: 100%;
    height: 100%;
    /* border: 14px solid black; */
    object-fit: cover;
}

.intro-detail-description {
	padding: 35px 0px 0px 60px;
    width: 45%;
    flex-basis: 330px;
    flex-shrink: 1;
    flex-grow: 1;
}
.intro-title {
	font-size: 24px;
    font-weight: 600;
    display: inline-block;
    margin-right: 14px;
}

.job-list {
	margin-top: 10px;
	flex-flow: wrap;
}
.job {
	align-items: center;
	margin-bottom: 10px;
	margin: 15px 30px 15px 0;
}
.tag {
	border-radius: 30px;
	text-align: center;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 29px;
	margin-right: 4px;
	padding-right: 13px;
	padding-left: 13px;
	color: #121213;
	font-size: 15px;
	line-height: 1.13em;
	letter-spacing: -.4px;
	border: 1px solid #d0d1d4;
	background-color: #fff;
	margin-bottom: 5px;
}
.job-tag {
	font-size: 14px;
    color: white;
    font-weight: 500;
    border: none;
    min-width: 67px;
}
.job-1 {
	--bs-bg-opacity: 1;
    color: rgba(var(--bs-success-rgb),var(--bs-bg-opacity))!important;
}
.job-2 {
	--bs-bg-opacity: 1;
    color: rgba(var(--bs-danger-rgb),var(--bs-bg-opacity))!important;
}
.job-3 {
	--bs-bg-opacity: 1;
    color: rgba(var(--bs-primary-rgb),var(--bs-bg-opacity))!important;
}
.job-4 {
	--bs-bg-opacity: 1;
    color: rgba(var(--bs-secondary-rgb),var(--bs-bg-opacity))!important;
}
.member-box {
	align-items: end;	
}
.member {
	margin-left: 10px;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
    flex-shrink: 0;
}
.no-profile {
	font-size: 55px;
	color: #69696B;
	text-shadow: 1px 1px 4px #c1c1c1;
}
.no-profile:hover {
	text-shadow: 2px 2px 6px #c1c1c1;
}
.none-event {
	pointer-events : none;
}
.no-eva {
	color: #F2F2F2;
	text-shadow: none;
}
.member-img {
	border-radius: 50%;
	width: 55px;
	height: 55px;
	box-shadow: 1px 1px 6px 0px #c1c1c1;
	
}
.member-img:hover {
	box-shadow: 2px 2px 9px 0px #c1c1c1;
}
.nickname {
	margin-top: 6px;
    overflow: hidden;
    display: block;
    color: #8e8f92;
    font-size: 14px;
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
    width: 60px;
}
.crown {
	font-size: 17px;
    color: yellow;
    position: absolute;
    top: -8px;
    left: calc(50% - 33px);
    z-index: 1;
    padding: 5px;
    background-color: black;
    border-radius: 50%;
}


.tag-box {
	margin-top: 20px;
	margin-left: 15px;
}

.intro-body {
	background-color: #253579;
	/* padding-top: 90px; */
	/* padding-bottom: 30px; */
    /* padding: 90px 160px 30px 160px; */
}
.intro-body-list {
    margin-bottom: 20px;
    background: white;
    padding: 35px 45px 35px 45px;
    border-radius: 8px;
}
.team {
	font-size: 23px;
    color: white;
    display: inline-block;
    margin-left: 10px;
    margin-right: 5px;
    font-weight: 500;
}
.team-name {
	font-size: 35px;
    color: white;
    font-weight: bolder;
    display: inline-block;
    margin-bottom: 10px;
}
.progress-m {
	margin: 30px 20px 30px 20px;
	height: 20px;
	}
.progress {
	height: 100%;
}


.skill-label {
	border: 1px solid #d0d1d4 !important;
}

/* 진행 기간 */
.period-title {
	display: flex;
    align-items: end;
}
.period {
	font-size: 16px;
    font-weight: 500;
    display: inline-block;
    color: gray;
}
/* 간트차트 */
.gantt {
  display: grid;
  border: 0;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 1px 1px 15px 2px #bfbfbf;
}
.gantt .gantt-content {
  display: inline-block;
}
.gantt__row {
  display: grid;
  grid-template-columns: 150px 1fr;
  background-color: #fff;
}
.gantt__row:nth-child(odd) {
  background-color: #f5f5f5;
}
.gantt__row:nth-child(odd) .gantt__row-first {
  background-color: #f5f5f5;
}
.gantt__row:nth-child(3) .gantt__row-bars {
  border-top: 0;
}
.gantt__row:nth-child(3) .gantt__row-first {
  border-top: 0;
}
.gantt__row--empty {
  background-color: #ffd6d2 !important;
  z-index: 1;
}
.gantt__row--empty .gantt__row-first {
  border-width: 1px 1px 0 0;
}
.gantt__row--lines {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
  grid-template-columns: 150px calc((100% - 150px) / 120 * 31) calc((100% - 150px) / 120 * 28) calc((100% - 150px) / 120 * 31) calc((100% - 150px) / 120 * 30);
/*   grid-template-columns: 150px calc((100% - 150px) / 181 * 31) calc((100% - 150px) / 181 * 28) calc((100% - 150px) / 181 * 31) calc((100% - 150px) / 181 * 30) calc((100% - 150px) / 181 * 31) calc((100% - 150px) / 181 * 30);*/}
.gantt__row--lines span {
  display: block;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.gantt__row--lines span.marker {
  background-color: rgba(10, 52, 68, 0.13);
  z-index: 2;
}
.gantt__row--lines:after {
  grid-row: 1;
  grid-column: 0;
  background-color: #1688b345;
  z-index: 2;
  height: 100%;
}
.gantt__row--months {
  color: #fff;
  background-color: #0a3444 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  grid-template-columns: 150px repeat(4, 1fr);
/*   grid-template-columns: 150px repeat(6, 1fr); */
}
.gantt__row--months .gantt__row-first {
  border-top: 0 !important;
  background-color: #0a3444 !important;
}
.gantt__row--months span {
  text-align: center;
  font-size: 15px;
  align-self: center;
  /* font-weight: bold; */
  padding: 20px 0;
}
.gantt__row-first {
  background-color: #fff;
  border-width: 1px 0 0 0;
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  padding: 15px 0;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}
.gantt__row-bars {
  list-style: none;
  display: grid;
  padding: 9px 0;
  margin: 0;
  grid-template-columns: repeat(120, 1fr);
  /* grid-template-columns: repeat(181, 1fr); */
  grid-gap: 8px 0;
  border-top: 1px solid rgba(221, 221, 221, 0.8);
}
.gantt__row-bars li {
  font-weight: 500;
  text-align: left;
  font-size: 14px;
  min-height: 15px;
  background-color: #55de84;
  padding: 5px 12px;
  color: #fff;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}
.gantt__row-bars li.stripes {
  background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255, 255, 255, 0.1) 5px, rgba(255, 255, 255, 0.1) 12px);
}
.gantt__row-bars li:before, .gantt__row-bars li:after {
  content: "";
  height: 100%;
  top: 0;
  z-index: 4;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
}
/* .gantt__row-bars li:before {
  left: 0;
}
.gantt__row-bars li:after {
  right: 0;
} */

/* 툴팁 */
.custom-tooltip {
  --bs-tooltip-bg: var(--bd-violet-bg);
  --bs-tooltip-color: var(--bs-white);
}

/* 통계 분석 */
.analyze-title {
	border-left: 4px solid #0d6efd;
    padding-left: 13px;
    margin-bottom: 10px;
}
.analyze-card {
	display: inline-block !important;
}